<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>1.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{1305,5},{536,928}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{536,928}</string>
			</dict>
			<key>1.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,5},{640,853}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,853}</string>
			</dict>
			<key>1-click.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,868},{90,103}}</string>
				<key>offset</key>
				<string>{-3,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,138}</string>
			</dict>
			<key>1-normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,868},{99,119}}</string>
				<key>offset</key>
				<string>{-3,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,138}</string>
			</dict>
			<key>2.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,5},{640,853}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,853}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>UIPlist.png</string>
			<key>realTextureFileName</key>
			<string>UIPlist.png</string>
			<key>size</key>
			<string>{1846,992}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1846</integer>
			<key>height</key>
			<integer>992</integer>
		</dict>
	</dict>
</plist>